Autovisor.zip
Releases/
build/
dist/
Res/__init__.py
.obsidian/
.idea/
__pycache__/
.vscode/
.venv/
captcha/
logs/
.obsidian/
test_config.ini
setup.py
LICENSE
*.spec

# Mac系统特有文件
.DS_Store
._*
.Spotlight-V100
.Trashes
